/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/* VARIABLE CSS */
:root{
    /* COLORES */
    --first-color: #afbb6b;
    --first-color-dark: #303800;
    --first-color-light:  #A49EAC;
    --first-color-lighten: #eaeed2;

    /* FONTS AND TYPOGRAPYH */
    --body-font: 'Open Sans', sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
}

@media screen and (min-width: 768px){
    :root{
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/* BASE */
*,::before::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--first-color-dark);
}

h1{
    margin: 0;
}

a{
    text-decoration: none;

}

img{
    width: 100%;
    height: auto;
    display: block;
}

/* LOGIN */
.signin{
    display: grid;
    grid-template-columns: 100%;
    height: 100vh;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.signin__content{
    display: grid;
}

.signin__img{
    justify-content: center;
}

.signin__img img{
    width: 310px;
    margin-top: 1.5rem;
}

.signin__forms{
    position: relative;
    height: 368px;
}

.signin__registre, .signin__create{
    position: absolute;
    bottom: 1rem;
    width: 100%;
    background-color: var(--first-color-lighten);
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 8px 20px rgba(35,0,77,.2);
    animation-duration: .4s;
    animation-name: animate-login;
}


@keyframes animate-login{
0%{
    transform: scale(1,1);
}
50%{
    transform: scale(1.1,1.1);
}
100%{
    transform: scale(1,1);
}
}
.signin__title{
    font-size: var(--h1-font-size);
    margin-bottom: 2rem;
}

.signin__box{
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: .5rem;
    padding: 1.125rem 1ren;
    background-color: #FFF;
    margin-top: 1rem;
    border-radius: .5rem;
}

.signin__icon{
    font-size: 1.5rem;
    color: var(--first-color);
}

.signin__input{
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    font-weight: 700;
    color: var(--first-color-dark);
}

.signin__input::placeholder{
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    color: var(--first-color-light);
}

.signin__forgot{
    display: block;
    width: max-content;
    margin-left: auto;
    margin-top: .5rem;
    font-size: var(--small-font-size);
    font-weight: 600;
    color: var(--first-color-light);
}

.signin__button{
    display: block;
    padding: 1rem;
    margin: 2rem 0;
    background-color: var(--first-color);
    color: #FFF;
    font-weight: 600;
    text-align: center;
    border-radius: .5rem;
    transition: .3s;
}

.signin__button:hover{
    background-color: var(--first-color-dark);
}

.signin__account, .signin__signin, .signin__signup{
    font-weight: 600;
    font-size: var(--small-font-size);
}

.signin__account{
    color: var(--first-color-dark);
}

.signin__signin, .signin__signup{
    color: var(--first-color);
    cursor: pointer;
}

/* SHOW LOGIN */
.block{
    display: block;
}

/* HIDDEN LOGIN */
.none{
    display: none;
}


/* MEDIA QUERIES */
@media screen and (min-width: 576px){
    .signin__forms{
        width: 348px;
        justify-self: center;
    }
}
@media screen and (min-width: 1024px){
    .signin{
        height: 100vh;
        overflow: hidden;
    }

    .signin__content{
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        margin-left: 10rem;
    }

    .signin__img{
        display: flex;
        width: 600px;
        height: 588px;
        background-color: #FFF;
        border-radius: 1rem;
        padding-left: 1rem;
    }

    .signin__img img{
        width: 390px;
        margin-top: 0;

    }

    .signin__registre, .signin__create{
        left: -11rem;
    }

    .signin__registre{
        bottom: -2rem;
    }

    .signin__create{
        bottom: -5.5rem;
    }
}